.git
.gitignore
vendor/
node_modules
npm-debug.log
docker-compose.yml
docker-compose.override.yml
.env
.env.*
!.env.example
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
public/hot
tests
README.md
*.md